/logs
__pycache__
/wandb
/not_used
/point_cloud
# (SOP_private with huggingface token)
/SOP_private 
injection_inference/hooked_model_for_saliency
ignore_*

*.pdf
*.png
*.pickle
*.ipynb_checkpoints
*.sh
*.pkl

!SOP/*.sh
direct_output_visualization.ipynb
direct_outout_exp.py
denoising_ablated_induction_visualization.ipynb
head_attn_score_visuailization.ipynb
head_distribution.ipynb
last_label_effect_to_denosing.ipynb
induction_effect_to_denosing_with_figure.ipynb
rebuttalExp_3_1_induction_magnitude.ipynb
Exp4_Induction_Head_magnitude_head_ablation.ipynb